<header>
 <a href="/"> <H1>Estudio da Bia</H1></a>

  <p> Somo Nº 1 no mercado de caixas personalizadas para festas!</p>

  <h2>
    Caso não encontre o que procura, você pode adicionar suas opções clicando aqui: 
    <a href="/criar">
      <button type="buton" class="btn-red btn"> criar</button>
    </a>
  </h2>
</header>