<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <title>Criar</title>
  </head>
  <body>
    <main>
      <header>
        <a href="/"> <H1>Estudio da Bia</H1></a>

        <p>Somo Nº 1 no mercado de caixas personalizadas para festas!</p>
      </header>

      <h2 class="titulo">Criando nova Caixa</h2>
      <div>
        <form action="/criar" method="post">
          <fieldset>
            <label for="nome">Nome: </label>
            <input type="text" name="nome" />
          </fieldset>

          <fieldset>
            <label for="img">Link da Imagem: </label>

            <input type="text" name="img" />
          </fieldset>

          <fieldset>
            <label for="valor">Preço sugerido: </label>
            <input type="text" name="valor" />
          </fieldset>

          <fieldset>
            <label for="medidas">Tamahos: </label>
            <input type="text" name="medidas" />
          </fieldset>

          <fieldset>
            <label for="tempocriacao">Tempo Médio de confecção: </label>
            <input type="text" name="tempocriacao" />
          </fieldset>

          <fieldset>
            <label for="quantidademinima">Quantidade desejada: </label>
            <input type="text" name="quantidademinima" />
          </fieldset>

          <fieldset>
            <label for="descricao">Descrição da Caixa: </label>
            <input type="text" name="descricao" />
          </fieldset>

          <button type="submit" class="btn-red btn-green btn">criar</button>
        </form>
      </div>
    </main>
    <!-- ----------------------- Div prontas para analise geral da ideia do
    projeto!--------------------------------------------------------------------- -->

    <!--  <header>
      <a href="/"> <H1>Estudio da Bia</H1></a>

      <p>Somo Nº 1 no mercado de caixas personalizadas para festas!</p>
    </header>

    <h2 class="titulo">Criando nova Caixa</h2>
    <div>
      <form action="/criar" method="post">
        
        <fieldset>
          <label for="nome">Nome: </label>
          <input type="text" name="nome" />
          
        </fieldset>

        <fieldset>
          <label for="img">Link da Imagem: </label>
          
          <input type="text" name="img" />
          
        </fieldset>

        <fieldset>
          <label for="valor">Preço sugerido: </label>
          <input type="text" name="valor" />
          
        </fieldset>

        <fieldset>
          <label for="medidas">Tamahos: </label>
          <input type="text" name="medidas" />
          
        </fieldset>

        <fieldset>
          <label for="tempocriacao">Tempo Médio de confecção: </label>
          <input type="text" name="tempocriacao" />
          
        </fieldset>

        <fieldset>
          <label for="quantidademinima">Quantidade desejada: </label>
          <input type="text" name="quantidademinima" />
          
        </fieldset>

        <fieldset><label for="descricao">Descrição da Caixa: </label>
          <input type="text" name="descricao" />
          
        </fieldset>

        <button type="submit" class="btn-red btn-green btn">criar</button>
      </form>
    </div> -->
  </body>
</html>
